<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./../../public/css/main.css">
</head>
<body>
    <ul class="menu">
        <li><a href="/user/users">Users</a></li>
        <li><a href="/user/user?id=1">User</a></li>
        <li><a href="/product/products">Products</a></li>
        <li><a href="/product/product?id=1">Product</a></li>
        <li><a href="/cart/cart?id=1">Cart</a></li>
    </ul>
    <div class="content">{{ include(content) }}</div>

    <script src="./../../public/scripts/main.js"></script>
</body>
</html>